<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dawnimpulse.wallup">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <!-- File provider for Android 7+ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dawnimpulse.wallup"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <!-- Crashlytics -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <!-- Analytics -->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!-- Disable Advertising ID -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <!-- New Aspect Ratio -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!-- ML Model -->
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label" />

        <!-- Splash Screen -->
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen.Preview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Image Activity -->
        <activity
            android:name=".activities.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="unsplash.com"
                    android:pathPrefix="/photos/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Cropping Activity -->
        <activity
            android:name=".activities.CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Artist Profile -->
        <activity
            android:name=".activities.ArtistProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- General Images -->
        <activity
            android:name=".activities.GeneralImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Changes Activity -->
        <activity
            android:name=".activities.ChangesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Collections Layout -->
        <activity
            android:name=".activities.CollectionLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Collection -->
        <activity
            android:name=".activities.CollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Search -->
        <activity
            android:name=".activities.SearchActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- About -->
        <activity
            android:name=".activities.AboutActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Login -->
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <data
                    android:host="sourcei.org"
                    android:scheme="wallup" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- User Profile -->
        <activity
            android:name=".activities.UserActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Settings -->
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Intro Screen -->
        <activity
            android:name=".activities.IntroActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- Library License -->
        <activity
            android:name=".activities.LibraryLicenseActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <!--Icons License-->
        <activity android:name=".activities.IconsActivity"
            android:theme="@style/AppTheme.Fullscreen"></activity>

        <!--Folder pick-->
        <activity android:name=".utils.Dialog$FolderPicker"
            android:theme="@style/AppTheme.NoActionBar.Trans"/>

        <!--Download Receiver-->
        <receiver
            android:name=".receivers.DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:enabled="true" android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>